
@{
    ViewBag.Title = "Modal_Contratar_Arquitecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="modal_contratar_arquitecto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contratar Arquitecto</h4>
            </div>
            <div class="modal-body">
                <p>Aqui va ir el desmadre para generar el documento</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove">Cerrar</span></button>
            </div>
        </div>
    </div>
</div>

<script>
   //Aqui ira el Codigo para manejar las consultas a la base de datos
    // y Listoo!!
</script>