
@{
    ViewBag.Title = "Modal_Contratar_Arquitecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div id="modal_contratar_arquitecto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles de Contratación</h4>
            </div>
            <div class="modal-body">
                @*<table class="table table-bordered">
            <thead style="background-color:darkgray;color:white">
                <tr>
                    <td>Nombre Completo</td>
                    <td>Domicilio</td>
                </tr>
            </thead>
            <tbody id="tabla_arq_al"></tbody>
        </table>*@
                <img src="https://0.academia-photos.com/attachment_thumbnails/35383700/mini_magick20180815-27276-1qfeeig.png?1534391197" width="100%"/>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button> <button type="button" class="btn btn-success dropdown-toggle"
        aria-haspopup="true" aria-expanded="false"
        data-target="#modal_confirmar_contrato" data-toggle="modal"
        data-backdrop="static" data-keyboard="false"
        onclick="contratar_arq('@Model.codigoAr')">
     Formalizar Conttrato
</button>
            </div>
        </div>
    </div>
</div>


<div id="modal_confirmar_contrato" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: background: #ffe259; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #ffa751, #ffe259); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ ">
            <div class="modal-header">
                <h4 class="modal-title">¿Estas seguro de que quieres confirmar el contrato?</h4>
            </div>
            <div class="modal-body">
                <p>Al confirmar este contrato se agregara automaticamente en su apartado
                de contratos y se enviara una copia al arquitecto, para que este pueda 
                revisarlo y darle una respuesta lo más pronto posible.</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cancelar</button> <button class="btn btn-success" data-dismiss="modal" onclick="cerrarModals()">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<script>
  cerrarModals= function(){
    $('#modal_confirmar_contrato').modal('hide');
    $('#modal_contratar_arquitecto').modal('hide');
}

</script>