@model IEnumerable<Construction.com.Contratista>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/Content/css/arquitecto.css"/>
}

<h2>Contratos</h2>

